<div class="pag">
	<%= will_paginate @clubs, :previous_label => i_previous, :next_label => i_next %>
</div>

<div class="mapa2">
</div>
<div class="map2">
	<div class="tregister">
		<%= link_to @nclub, new_club_path  %> 
	</div>
</div>
<div class="mapb2">
</div>
<div class="mapa3">
</div>
<div class="map3">
	<div class="tabla2">
		<table border="1">
			<tr>
				<th ><%=@name%> </th>
				<th ><%=@email%> </th>
				<th ><%=@site%> </th>
				<th ><%=@person%> </th>
			</tr>
			<%= render @clubs %>
		</table>
	</div>
</div>
<div class="mapb3">
</div>




