<div class="pag">
	<%= will_paginate @books, :previous_label => i_previous, :next_label => i_next %>
</div>

<div class="mapa2">
</div>
<div class="map2">
	<div class="t2">
		<%=@news%><br /><%= link_to i_button2, books_path %>
	</div>
	<div class="t1">
		<%=@event%><br /><%= link_to i_button1, event_path %> 
	</div>
	<div class="t1">
		<%=@site%><br /><%= link_to i_button1, site_path %> 
	</div>
	<div class="t1">
		<%=@date%><br /><%= link_to i_button1, date_path %> 
	</div>
	<div class="tregister">
		<%= link_to @register, new_book_path %> 
	</div>
</div>
<div class="mapb2">
</div>
<div class="mapa3">
</div>
<div class="map3">
	<div class="tabla">
		<table border="1">
			<tr>
				<th ><%=@tournament%></th>
				<th ><%=@site%></th>
				<th ><%=@player1%></th>
				<th ><%=@player2%></th>
				<th ><%=@date%></th>
				<th ><%=@download%></th>
			</tr>
			<%= render @books %>
		</table>
	</div>
</div>
<div class="mapb3">
</div>




